{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Ingresa{% endblock title %}
{% block content %}
    <div class="content center">
        <form id="form" action="{% url 'users:perfil_update_participante' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-field {% if form.username.errors %}invalid{% endif %}">
                    <i class="tiny material-icons prefix">account_circle</i>
                    {{ form.username }}
                    <label for="icon_prefix {{ form.username.auto_id }}">Usuario</label>
                    {% include 'base.forms.errors.html' with form_errors=form.username.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
                
            <!-- <div class="input-field {% if form.password.errors %}invalid{% endif %}">
                    <i class="tiny material-icons prefix">lock</i>
                    {{ form.password }}
                    <label for="icon_prefix {{ form.password.auto_id }}">Contraseña</label>
                    {% include 'base.forms.errors.html' with form_errors=form.password.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>    -->
                    
            <div class="input-field {% if form.first_name.errors %}invalid{% endif %}">
                <i class="tiny material-icons prefix">person</i>
                {{ form.first_name }}
                <label for="icon_prefix {{ form.first_name.auto_id }}">Nombre</label>
                {% include 'base.forms.errors.html' with form_errors=form.first_name.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            <div class="input-field {% if form.last_name.errors %}invalid{% endif %}">
                <i class="tiny material-icons prefix">person</i>
                {{ form.last_name }}
                <label for="icon_prefix {{ form.last_name.auto_id }}">Apellido</label>
                {% include 'base.forms.errors.html' with form_errors=form.last_name.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>

            <div class="input-field {% if form.email.errors %}invalid{% endif %}">
                    <i class="tiny material-icons prefix">email</i>
                    {{ form.email }}
                    <label for="icon_prefix {{ form.email.auto_id }}">Email</label>
                    {% include 'base.forms.errors.html' with form_errors=form.email.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            
            <div class="input-field {% if form1.cargo.errors %}invalid{% endif %}">
                    <i class="tiny material-icons prefix">person</i>
                    {{ form1.cargo }}
                    <label for="icon_prefix {{ form1.cargo.auto_id }}">Cargo</label>
                    {% include 'base.forms.errors.html' with form_errors=form1.cargo.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>

            <div class="input-field {% if form1.pasaporte.errors %}invalid{% endif %}">
                    <i class="tiny material-icons prefix">person</i>
                    {{ form1.pasaporte }}
                    <label for="icon_prefix {{ form1.pasaporte.auto_id }}">Pasaporte</label>
                    {% include 'base.forms.errors.html' with form_errors=form1.pasaporte.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            <div class="input-field col s12 {% if form1.pais.errors %}invalid{% endif %}" >
                    <i class="tiny material-icons prefix">person</i>
                    {{ form1.pais }}
                    <label for="icon_prefix {{ form1.pais.auto_id }}">Pais</label>
                    {% include 'base.forms.errors.html' with form_errors=form1.pais.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
                        
            <div class="file-field input-field {% if form1.certificado.errors %}invalid{% endif %}">
                    <i class="tiny material-icons prefix">verified_user</i>
                    <div class="btn colorazul">
                        <span>Certificado</span>
                        <input type="file" name="certificado" accept=".p12">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    <label for="icon_prefix {{ form1.certificado.auto_id }}">Seleccionar Certificado</label>
                    {% include 'base.forms.errors.html' with form_errors=form1.certificado.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
                  
            <button type="submit" class="btn waves-effect  colorazul">Entrar</button>
        </form>
    </div>
{% endblock %}