{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Olvido su contraseña{% endblock title %}
{% block content %}
<div class="center">
    <h3>Olvido de Contraseña</h3><hr/>
    <form id="forgot-password-form" method="post">
        {% csrf_token %}
        <br/>
        <p>Las instrucciones para recuperar su contraseña serán enviadas al correo.</p><br/>
        <div class="input-field {% if form.email.errors %}invalid{% endif %}">
            {{ form.email }}
            <label for="{{ form.email.auto_id }}">Correo</label>
            {% include 'base.forms.errors.html' with form_errors=form.email.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>
        <button type="submit" class="btn waves-effect colorazul">Enviar</button>
    </form>
</div>
{% endblock %}
