{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Recuperar contraseña{% endblock title %}
{% block content %}
<div class="center">
    <h3>Recuperar Contraseña</h3><hr/>
    {% if validlink %}
        <form id="forgot-password-form" method="post">
            {% csrf_token %}
            <br/>
            <p>Por favor ingrese su nueva contraseña dos veces.<br /> Así podremos verificar que es correcta.</p>
            
            <div class="input-field {% if form.new_password1.errors %}invalid{% endif %}">
                {{ form.new_password1 }}
                <label for="{{ form.new_password1.auto_id }}">Nueva Contraseña</label>
                {% include 'base.forms.errors.html' with form_errors=form.new_password1.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            
            <div class="input-field {% if form.new_password2.errors %}invalid{% endif %}">
                {{ form.new_password2 }}
                <label for="{{ form.new_password2.auto_id }}">Repita la Nueva Contraseña</label>
                {% include 'base.forms.errors.html' with form_errors=form.new_password2.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            <button type="submit" class="btn waves-effect colorazul">Cambiar</button>
        </form>
    {% else %}
        <div class="center">
            <h3>Se intento recuperar la contraseña, pero fallo.</h3><hr/>
            <p>El vínculo de recuperación de contraseña es inválido, <br />
            Posiblemente ya ha sido usado <br />
            Por favor solicite una nueva contraseña.</p>
    {% endif %}
</div>
{% endblock %}