{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
<div class="center">
    <h3>Recuperar Contraseña</h3><hr/>
        <br/>
        <p>Hemos enviado las instrucciones de como recuperar la contraseña a la dirección de correo electrónico especificada</p>  
        <p>Estarás recibiendo el correo pronto..</p><br/>
        <a href="{% url 'base:inicio' %}" class="btn waves-effect colorazul">Regresar</a>
</div>
{% endblock %}
