{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Recuperar Contraseña{% endblock title %}
{% block content %}
<div class="center">
    <h3>Recuperar Contraseña</h3><hr/>
        <br/>
        <p>Tu contraseña ha sido definida. Ya puedes iniciar sesión de nuevo.</p><br/>
        <a href="{% url 'users:login' %}" class="btn waves-effect colorazul">Iniciar sesión</a>
</div>
{% endblock %}