{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Ingresa{% endblock title %}
{% block content %}
    <div class="content center"> 

            <div class="row center">                
                <div class="col s12"><p class="flow-text">Actualización del Usuario</p></blockquote></div>
           </div>            
            <div class="row">              
                <div class="col s6 right-align"><i class="tiny material-icons prefix">account_circle</i>Usuario:</div>
                <div class="col s6 left-align">{{ usuario.username }}</div>                
            </div>                
            <div class="row">                               
                <div class="col s6 right-align"> <i class="tiny material-icons prefix">person</i>Nombre:</div>
                <div class="col s6 left-align">{{ usuario.first_name }}</div>                
            </div>
            <div class="row">              
               
                <div class="col s6  right-align"> <i class="tiny material-icons prefix">person</i>Apellido:</div>
                <div class="col s6  left-align">{{ usuario.last_name }}</div>
           
            </div>

            <div class="row">                
           
                <div class="col s6 right-align"><i class="tiny material-icons prefix">email</i>Email:</div>
                <div class="col s6 left-align">{{ usuario.email }}</div>
           
            </div>   
            
            <div class="row">             
           
                <div  class="col s6 right-align"><i class="tiny material-icons prefix">person</i>País:</div>
                <div  class="col s6 left-align">{{ certificado.pais }}</div>
           
            </div>
            
            <div class="row">             
           
                <div  class="col s6 right-align"><i class="tiny material-icons prefix">person</i>Cargo:</div>
                <div  class="col s6 left-align">{{ certificado.cargo }}</div>
           
            </div>

            <div  class="row">            
           
                <div class="col s6 right-align"><i class="tiny material-icons prefix">person</i>Pasaporte</div>
                <div class="col s6 left-align">{{ certificado.pasaporte }}</div>                                  
           
            </div>
                        
            <div class="row">
                        <a class="btn waves-effect colorazul" href="{% url 'users:perfil_update_participante' %}" >Actualizar</a>
            </div>
    </div>
{% endblock %}