{% load staticfiles %}
<nav class="colorazul">
  <div class="nav-wrapper">
    <a class="brand-logo" href="{% url 'base:inicio' %}"><img src="{% static 'img/logo.png'%}"></a>
    {% if request.user.is_authenticated %}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!" class="dropdown-button" data-beloworigin="true" data-activates="dropdown1">Bienvenido <b>{{request.user.username}}</b> <i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="{% url 'users:perfil_consulta_participante' %}">Perfil</a></li>
        <li><a href="{% url 'users:logout' %}">Salir</a></li>
      </ul>
    </ul>
    {% else %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Bienvenido <b>Anónimo</b></a></li>
      </ul>
    {% endif %}
  </div>
</nav>
<img src="{% static 'img/head.png'%}">