{% if form_errors %}
    <div class="error-notice">
        <div class="error danger">
            <div class="row">
                <div class="{% if not col_title_error %}col s3{% else %}{{ col_title_error }}{% endif %}">
                    <!--<strong>Error</strong>-->
                </div>
                <div class="{% if not col_msg_error %}col s9{% else %}{{ col_msg_error }}{% endif %}">
                    {% if custom_message_error %}{{ custom_message_error }}{% else %}{{ form_errors }}{% endif %}
                </div>
            </div>

        </div>
    </div>
{% endif %}