{% load staticfiles %}
<img src="{% static 'img/footer.png'%}">
<div class="colorazul">
    <div class="center" style="font-size: 12px; color:white">
        <p>
   
           <!--<span style="font: 12px Arial, sans-serif; display: inline-block; transform: rotate(180deg);">©</span>-->
            <span id="year-info-develop">{% now "Y" %}</span>
            CNTI. Portal desarrollado y administrado por el Centro Nacional de Tecnología de Información, adscrito al Ministerio del Poder Popular de Educación Universitaria, <br>
            Ciencia y Tecnología. Esta obra está bajo una licencia Creative Commons Reconocimiento - No Comercial - Compartir Igual 3.0 Venezuela. 

        </p>
    </div>
</div>