{% extends 'base.template.html' %}
{% block content %}
	<div class="center">
		<h3>Bienvenidos a Murachi-LAT</h3><hr/>
		{% if not request.user.is_authenticated %}
			<p>Si deseas ingresar al sistema haz click en <b>Ingresar</b></p>
			<a href="{% url 'users:login' %}" class="btn waves-effect btn colorazul">Ingresar</a>
		{% endif %}
		{% if request.user.is_authenticated %}
			<p>Para ver el historial de eventos, haz click en <b>Eventos</b></p>
			<a href="{% url 'events:list_events' %}" class="btn waves-effect btn colorazul">Eventos</a>
		{% endif %}
	</div>
{% endblock %}