 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
 
/* Input colors */
.input-field .prefix.active{
    color: #005da4;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label
{
  color: #005da4;
}
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus 
{
  border-bottom: 1px solid #005da4;
  box-shadow: 0 1px 0 0 #005da4;
}

.invalid input {
    border-bottom: 1px solid #005da4;
    box-shadow: 0 1px 0 0 #005da4;
}

.invalid label,.invalid  i, .errorlist, .danger {
    color: #005da4;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #1e88e5;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #1e88e5;
    border-bottom: 2px solid #1e88e5;
}

#tiny{
    font-size: 1rem;
}

a{
    color: #1e88e5;
}

.overflow {
  position: relative; 
  overflow: auto; 
  width: 100%;
}

#container1{
    border: 2px solid #1e88e5;
}

.azul{
   color :#005da4
}

.blanco {
    color: #f5f5f5
}

.colorazul {
    background-color : #005da4
}

.errorazul {
    color : #005da4
}

