{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Detalle del Evento {{ object.nombre_evento }}{% endblock %}
{% block content %}
    <h1 class="center">Evento: {{ object.nombre_evento }}</h1><hr>
    
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Nombre del evento: </b>{{ object.nombre_evento }}</span>
                    <ul>
                        <li><b>Fecha: </b>{{ object.fecha }}</li>
                    </ul>
                    <ul>
                        <li><b>Activo: </b>{% if object.activo %}
                            Sí, el documento si se encuentra activo aún falta {{num_firma}} {% if num_firma > 1 %}participantes {% else %} participante {% endif%} por firmar</li>
                        {% else %}
                            No, el documento no esta activo todos los participantes han firmado</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    <div class="col s12 m12">
        <table class="responsive-table striped">
        <h4> Participantes</h4>
            <thead>
              <tr>
                  <th scope="col">Nombresy Apellidos</th>
                  <th scope="col">¿Firmó?</th>
              </tr>
            </thead>
            <tbody>
                {% for firmantes in participantes %}
                    <tr>
                        <td>
                            {{ firmantes.fk_participante.nombres }} {{ firmantes.fk_participante.apellidos }}
                        </td>
                        <td>
                            {% if firmantes.firma %}
                                <i class="material-icons green-text" title="Sí">done</i>
                            {% else %}
                                <i class="material-icons red-text" title="No">clear</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="center">
        {% if object.serial %}
        <iframe width="700px" height="600px" src="https://localhost:8443/Murachi/0.1/archivos/listadopdf/{{object.serial}}">';
        </iframe>
        {% else %}
            <h4 class="red-text">No cargó ningun documento</h4>
        {% endif %}
    </div>
    <div class="row">
        <a class="btn waves-effect colorazul" href="{% url 'events:list_events' %}" >Regresar</a>
    </div>
{% endblock %}