{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Firmar Evento{% endblock title %}
{% block content %}
    <div class="content center">
        <h3>{{nombre_evento}}</h3>
        <form id="form" method="post">
            {% csrf_token %}
            <div class="input-field {% if form.pasaporte.errors %}invalid{% endif %}">
                {{ form.pasaporte }}
                <label for="icon_prefix {{ form.pasaporte.auto_id }}">Número de Pasaporte</label>
                {% include 'base.forms.errors.html' with form_errors=form.pasaporte.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            
            <a type="button" class="btn waves-effect colorazul" onclick="get_event_user()">
                <i class="material-icons left">search</i> Buscar
            </a>
            {% if nombre_evento.serial %}
                <div id="datos_paricipante"></div>
            {% else %}
                <h3>No existe Documento para firmar</h3>
            {% endif %}
        </form>
        <div class="row" style="padding-top: 25px;">
            <a class="btn left waves-effect colorazul" href="{% url 'events:list_events' %}" >Regresar</a>
        </div>
    </div>
{% endblock %}
{% block extraJs %}
    <script type="text/javascript" src="{% static "plugins/hwcrypto/gitversion.js"  %}"></script>
    <script type="text/javascript" src="{% static "plugins/hwcrypto/hwcrypto-legacy.js"  %}"></script>
    <script type="text/javascript" src="{% static "plugins/hwcrypto/hwcrypto.js"  %}"></script>
    <script type="text/javascript" src="{% static "plugins/hwcrypto/hex2base.js"  %}"></script> 
    <script type="text/javascript" src="{% static "plugins/base64/jquery.base64.js"  %}"></script> 
{% endblock %}
