{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Eventos{% endblock %}
{% block content %}
    <h1 class="center">Eventos</h1><hr>
    
    {% if request.user.is_authenticated %}
        <div class="row content">
            <a type="button" class="btn waves-effect btn colorazul right" href="{% url 'events:create_events' %}">
                <i class="material-icons left">add_circle</i> Registrar Nuevo Evento</a>
        </div>
    {% endif %}
    
    {% for evento in object_list %}
        <div class="card">
            <div class="card-content">
                <span class="card-title"><b>Nombre del evento: </b>{{ evento.nombre_evento }}</span>
                <ul>
                    <li><b>Fecha: </b>{{ evento.fecha }}</li>
                </ul>
            </div>
            <div class="card-action">
                <a type="button" class="btn waves-effect colorazul" href="{% url 'events:detail_event' evento.id %}">
                    <i class="material-icons left">search</i> Detalle
                </a>
                {% if evento.serial %}
                <a type="button" class="btn waves-effect colorazul" href="{% url 'events:firma_events' evento.id %}">
                    <i class="material-icons left">mode_edit</i> Firmar
                </a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a type="button" class="btn waves-effect colorazul" href="{% url 'events:update_evento' evento.id %}">
                        <i class="material-icons left">backup</i> Cargar Documento
                    </a>
                {% endif %}
                
                {% if request.user.is_authenticated %}
                    <a type"button" class="btn waves-effect colorazul" href="{% url  'events:update_evento_participante' evento.id %}"><i class="material-icons left">border_color</i>Editar Evento
                    </a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <h3>No existen eventos.</h3>
    {% endfor %}
    {% include 'base.paginator.html' with paginator=page_obj %}
    <div style="padding-bottom: 50px;">
        <a type="button" class="btn waves-effect btn colorazul" href="{% url 'base:inicio' %}">Regresar</a>
    </div>
{% endblock %}